html {
  scroll-behavior: smooth;
}

dl.footnote {
  margin-top: 4rem;
}

div.footer {
  margin-top: 4rem;
}

ul.toptoc {
  font-size: 18px;
}

div.customabout a,
div.customabout a:hover {
  border-bottom: none;
}
